<!--<div class="container-fluid">-->
  <!--<h1 matDialogTitle>ข้อกำหนดและเงื่อนไขการใช้เวปไซต์และแอปพลิเคชั่น</h1>-->
  <!--<div mat-dialog-content>-->
    <!--ข้อกำหนดและเงื่อนไขการใช้งานเว็ปไซต์และแอปพลิเคชั่นฉบับนี้-->
    <!--ซึ่งต่อไปนี้ข้อกำหนดนี้จะเรียกว่าข้อกำหนด บังคับใช้ครั้งแรกเมื่อวันที่ 15 พฤศจิกายน 2561-->
    <!--โดยมีรายละเอียดดังต่อไปนี้-->
    <!--<br>-->
    <!--<h3>ข้อ 1 คำนิยาม</h3>-->
    <!--ภายในข้อกำหนดนี้<br>-->
    <!--(ก) "เวปไซต์และแอปพลิเคชั่น" หมายความว่าเว็ปไซต์และแอปพลิเคชั่น ชื่อว่า วัลยาดอทคอม และมีที่อยู่เวปไซต์ที่ wanlaya.com ซึ่งดำเนินการและให้-->
    <!--บริการจัดการข้อมูลทางธุรกิจครบวงจร<br>-->
    <!--(ข) "เจ้าของเวปไซต์และแอปพลิเคชั่น" หมายความว่า วัลยาดอทคอม ทะเบียนนิติบุคคลเลขที่ 0000000000000 สำนักงานตั้งอยู่ที่ อำเภอหางดง จังหวัดเชียงใหม่<br>-->
    <!--(ค) "ผู้ใช้งาน" หมายความว่า ผู้เยี่ยมชม ผู้ใช้ สมาชิกของเวปไซต์และแอปพลิเคชั่น หรือบุคคลอื่นใดที่เข้าถึงเวปไซต์และแอปพลิเคชั่น ไม่ว่าการเยื่ยมชม การใช้-->
    <!--การเป็นสมาชิก หรือการเข้าถึงนั้นจะกระทำด้วยวิธีการใด ลักษณะใด ผ่านอุปกรณ์ใด ผ่านช่องทางใด และไม่ว่ามีค่าใช้จ่ายใดก็ตาม<br>-->
    <!--(ง) "ข้อมูลส่วนบุคคล" หมายความว่า ข้อความ บทความ ความคิดเห็น บทวิเคราะห์ รูปภาพ สัญลักษณ์ เครื่องหมาย รูปภาพ ประดิษฐ์ ภาพถ่าย ภาพเคลื่อนไหว ภาพยนต์-->
    <!--เสียง สิ่งบันทึกเสียง การออกแบบ คำสั่ง ชุดคำสั่ง หรือการสื่อสารไม่ว่าลักษณะใดและวิธีการใด ๆ ในเวปไซต์และแอปพลิเคชั่น และไม่ว่าเนื้อหานั้นจะมีการจำกัดการเข้าถึง-->
    <!--หรือไม่ก็ตาม<br>-->
    <!--<h3>ข้อ 2 การอนุญาตให้ใช้งานเว็ปไซต์และแอปพลิเคชั่น</h3>-->
    <!--โดยที่เจ้าของเวปไซต์และแอปพลิเคชั่นได้เปิดให้ใช้งานซึ่งเวปไซต์และแอพลิเคชั่น ตามข้อกำหนดฉบับนี้ และผู้ใช้งานมีความประสงค์จะใช้งานเวปไซต์และแอปพลิเคชั่นดังกล่าว-->
    <!--โดยในการใช้งานเวปไซต์และแอปพลิชั่น ผู้ใช้งานได้อ่านและเข้าใจข้อความและเงื่อนไขต่าง ๆ แห่งข้อกำหนดฉบับนี้โดยละเอียดตลอดดีแล้ว-->
    <!--และตกลงตามข้อเงื่อนไขที่กำหนดไว้ในข้อกำหนดฉบับนี้แล้วทั้งสิ้น ในการนี้เจ้าของเวปไซต์และแอปพลิเคชั่นจึงขออนุญาตให้ผู้ใช้งาน ใช้งานเวปไซต์และแอปพลิเคชั่นภายใต้เงื่อนไข<br>-->
    <!--<h3>ข้อ 3 ข้อแนะนำการใช้งาน</h3>-->
    <!--ในการใช้งานเวปไซต์และแอปพลิเคชั่นของผู้ใช้งาน เพื่อให้เกิดประสิทธิภาพและประสบการณ์การใช้งานที่สูงสุดของผู้ใช้งาน ผู้ใช้งานอาจใช้งานเวปไซต์และแอปพลิเคชั่น-->
    <!--ตามที่เจ้าของเวปไซต์และแอปพลิเคชั่น กำหนด ดังต่อไปนี้<br>-->
    <!-- - บริการจัดการข้อมูลทางธุรกิจครบวงจร<br>-->
    <!--<h3>ข้อ 4 การใช้งานเว็ปไซต์และแอปพลิเคชั่น</h3>-->
    <!--ในการใช้งานเว็ปไซต์และแอปพลิเคชั่นองผู้ใช้งาน ผู้ใช้งานตกลงจะใช้งานเวปไซต์และแอปพลิเคชั่น ดังต่อไปนี้<br>-->
    <!--web browser<br>-->
    <!--Google Chrome ver 24.0.1312.57 หรือ<br>-->
    <!--Internet Explorer 10.0.9200.17457 หรือ<br>-->
    <!--Firefox 5.0 หรือ<br>-->
    <!--Safari 5.1.7 เป็นขั้นต่ำ<br>-->
    <!--<h3>ข้อ 5 ข้อห้ามในการใช้งานเวปไซต์และแอปพลิเคชั่น</h3>-->
    <!--ไม่ว่าในกรณีใด ๆ ในการใช้งานเว็บไซต์และแอปพลิเคชั่นของผู้ใช้งาน ผู้ใช้งานตกลงจะไม่ใช้งานเว็ปไซต์และแอปพลิเคชั่น ไม่ว่าโดยตรงหรือโดยอ้อมในลักษณะใด-->
    <!--ลักษณะหนึ่ง ดังต่อไปนี้<br>-->
    <!--(ก) การกระทำใด ๆ ที่ขัดต่อกฏหมาย คำพิพากษาศาล หรือคำสั่งของรัฐบาล หรือหน่วยงานที่ใช้อำนาจรัฐ<br>-->
    <!--(ข) การกระทำใด ๆ ที่อาจขัดต่อความสงบเรียบร้อยหรือจารีตประเพณี<br>-->
    <!--(ค) การกระทำใด ๆ อันเป็นการละเมิดทรัพย์สินทางปัญญา ลิขสิทธิ์ เครื่องหมายทางการค้า สิทธิบัตร สิทธิในชื่อเสียง สิทธิส่วนบุคคล และสิทธิอื่นใดของเจ้าของเวปไซต์-->
    <!--และแอปพลิเคชั่น หรือบุคคลอื่น<br>-->
    <!--(ง) การกระทำใด ๆ ที่นำไปสู่การเก็บรวบรวม การเปิดเผยหรือการให้ซึ่งข้อมูลส่วนบุคคล โดยมิชอบด้วยกฏหมาย<br>-->
    <!--(จ) การกระทำใด ๆ ที่รบกวนการทำงานของระบบแม่ข่าย ชุดคำสั่ง หรือระบบเครือข่ายเวปไซต์และแอปพลิเคชั่น<br>-->
    <!--<h3>ข้อ 6 บัญชีผู้ใช้</h3>-->
    <!--ในการใช้งานเวปไซต์และแอปพลิเคชั่น เจ้าของเวปไซต์และแอปพลิเคชั่นอาจจัดให้มีบัญชีผู้ใช้ของแต่ละผู้ใช้ ตามที่ผู้ใช้งานร้องขอในแต่ละคราว โดยที่เจ้าของเวปไซต์-->
    <!--และแอปพลิเคชั่น-->
    <!--มีสิทธิแต่เพียงผู้เดียวในการ เปิดบัญชีผู้ใช้ กำหนดประเภทบัญชีผู้ใช้ กำหนดสิทธิการเข้าถึงข้อมูลของแต่ละประเภทบัญชีผู้ใช้ ค่าใช้จ่ายใด ๆ เกี่ยวกับบัญชีผู้ใช้-->
    <!--หน้าที่ความรับผิดชอบของผู้ใช้งานซึ่งเป็นเจ้าของบัญชีผู้ใช้นั้น ๆ-->
    <!--ทั้งนี้ ผู้ใช้งานตกลงจะเก็บรักษาชื่อบัญชีผู้ใช้ รหัสผ่าน และข้อมูลใด ๆ ของตนไว้เป็นความลับอย่างเคร่งครัด และตกลงจะไม่ยินยอมให้ รวมถึงใช้ความพยายามอย่างถึงที่สุด-->
    <!--ในการป้องกัน-->
    <!--ไม่ให้บุคคลอื่นใช้งานบัญชีผู้ใช้ของผู้ใช้งาน<br>-->
    <!--ในกรณีที่มีการใช้บัญชีผู้ใช้ของผู้ใช้งานโดยบุคคลอื่น ผู้ใช้งานตกลงและรับรองว่าการใช้งานโดยบุคคลอื่นดังกล่าวได้กระทำในฐานะตัวแทนของผู้ใช้งานและมีผลผูกพันเสมือนหนึ่ง-->
    <!--ผู้ใช้งานเป็นผู้กระทำการเองทั้งสิ้น<br>-->
    <!--<h3>ข้อ 7 การเก็บและใช้ข้อมูลส่วนบุคคลของผู้ใช้งาน</h3>-->
    <!--ในการใช้งานเวปไซต์และแอปพลิเคชั่น ผู้ใช้งานรับทราบและตกลงให้ เจ้าของเว็บไซต์และแอปพลิเคชั่น มีสิทธิจัดเก็บประมวลผล นำไปใช้ประโยชน์ซึ่งข้อมูลส่วนบุคคลของผุ้ใช้งาน-->
    <!--ที่ผู้ใช้งานให้ไว้แก่เจ้าของเวปไซต์และแอปพลิเคชั่น-->
    <!--ในกรณีที่เจ้าของเวปไซต์และแอปพลิเคชั่นนำข้อมูลส่วนตัวของผู้ใช้งานออกใช้ประโยชน์ เจ้าของเวปไซต์และแอปพลิเคชั่น ตกลงจะใช้ข้อมูลดังกล่าว ตราบเท่าที่ไม่ก่อให้-->
    <!--เกิดความเสียหายความเดือนร้อนและความรำคาญแก่เจ้าของข้อมูล และจะไม่เปิดเผยข้อมูลดังกล่าวต่อบุคคลภายนอกในลักษณะที่อาจระบุตัวตนของผู้ใช้งานของเจ้าของข้อมูลใด-->
    <!--เว้นแต่เป็นการใช้และเปิดเผยตามที่กฏหมายกำหนด หรือโดยคำสั่งของหน่วยงานที่บังคับใช้อำนาจของรัฐ<br>-->
    <!--<h3>ข้อ 8 คำรับรองและหน้าที่ของผู้ใช้งาน</h3>-->
    <!--ในการใช้งานเว็ปไซต์และแอปพลิเคชั่นของผู้ใช้งาน ผู้ใช้งานมีหน้าที่ และให้คำรับรองต่อเจ้าของเวปไซต์และแอปพลิเคชั่น ว่าจะใช้ความพยายามอย่างถึงที่สุดเพื่อปฏิบัติ-->
    <!--ตามหน้าที่ของผู้ใช้งานและตลอดจนเงื่อนไขของข้อกำหนดนี้ ดังต่อไปนี้<br>-->
    <!--(ก) ผู้ใช้งานได้อ่านและเข้าใจข้อความและเงื่อนไขต่าง ๆ แห่งข้อกำหนดฉบับนี้โดยละเอียดตลอดดีแล้ว และโดยในการเข้าเยี่ยมชม ใช้งาน หรือการเป็นสมาชิกของเว็บไซต์-->
    <!--และแอปพลิเคชั่น ผู้ใช้งานตกลงตามเงื่อนไขที่กำหนดไว้ในข้อกำหนดฉบับนี้แล้วทั้งสิ้น<br>-->
    <!--(ข) ผู้ใช้งานเข้าใจและรับทราบดีว่าข้อกำหนดฉบับนี้ เป็นสัญญาฉบับหนึ่งซึ่งมีผลผูกพันและสามารถบังคับใช้ได้ตามกฏหมายระหว่างเจ้าของเวปไซต์และแอปพลิเคชั่น และผู้ใช้งาน<br>-->
    <!--(ค) ผู้ใช้งานจะดำเนินการใด ๆ อันจำเป็นและสมควรให้พนักงานของผู้ใช้งาน ผู้รับจ้างช่วง ผู้ช่วย ที่ปรึกษา หรือตัวแทนใด ๆ ของผู้ใช้งาน (ถ้ามี) ปฏิบัติตามข้อกำหนดฉบับนี้-->
    <!--โดยเคร่งครัดด้วย<br>-->
    <!--(ง) ในกรณีที่มีบุคคลอื่นใช้สิทธเรียกร้องหรือมีข้อเรียกร้องต่อผู้ใช้งาน หรือผู้ใช้งานถูกฟ้องร้องดำเนินคดีเกี่ยวกับ หรือมีสาเหตุมาจากการใช้งานเวปไซต์และแอปพลิเคชั่น-->
    <!--ผู้ใช้งานจะยุติข้อเรียกร้องด้วยค่าใช้จ่ายและความรับผิดชอบของผู้ใช้งานเอง และผู้ใช้งานตกลงปกป้องด้วยความพยายามอย่างถึงที่สุด ไม่ให้เจ้าของเวปไซต์และแอปพลิเคชั่น-->
    <!--เข้าไปเกี่ยวข้องในกระบวนการยุติข้อเรียกร้องดังกล่าว-->
    <!--(จ) ในกรณีที่เจ้าของเวปไซต์และแอปพลิเคชั่นมีค่าเสียหายหรือค่าใช้จ่ายเกี่ยวกับหรือมีสาเหตุมากจากการใช้งานเวปไซต์และแอปพลิเคชั่น ของผู้ใช้งาน ผู้ใช้งานตกลงจะชดใช้-->
    <!--ค่าเสียหายหรือค่าใช้จ่ายดังกล่าวให้แก่เจ้าของเวปไซต์และแอปพลิเคชั่นโดยสิ้นเชิง<br>-->
    <!--<h3>ข้อ 9 เนื้อหาของผู้ใช้งาน</h3>-->
    <!--ในการใช้งานเวปไซต์และแอปพลิเคชั่น ผู้ใช้งานอาจสามารถแสดงเนื้อหาของผู้ใช้งานในเวปไซต์และแอปพลิเคชั่นได้ ไม่ว่ามีการจำกัดสิทธิการเข้าถึงเนื้อหาหรือไม่ก็ตาม-->
    <!--โดยผู้ใช้งานตกลงจะ<br>-->
    <!--(ก) ไม่แสดงเนื้อหาที่เป็นการละเมิดสิทธิของบุคคลอื่น ซึ่งรวมถึงแต่ไม่จำกัดเฉพาะ ลิขสิทธิ์ ธรรมสิทธิ์ สิทธิบัตร สิทธิในเครื่องหมายการค้า สิทธิในแบบผลิตภัณฑ์-->
    <!--สิทธิในผลิตภัณฑ์อรรถประโยชน์ ความลับทางการค้า สิทธิในเกียรติยศชื่อเสียง สิทธิในภาพบุคคล สิทธิส่วนบุคคล และสิทธิในชื่อเสียง<br>-->
    <!--(ข) ไม่แสดงเนื้อหาไม่ขัดต่อความสงบเรียบร้อยและศีลธรรมอันดีของประชาชน การสนับสนุนความรุนแรง และการกระทำผิดกฏหมาย<br>-->
    <!--(ค) ไม่แสดงเนื้อหาใด ๆ ที่น่าสงสัย หยาบคาย หลอกลวง ล่อลวงหรือชี้แนะในลักษณะที่อาจเป็นอันตรายต่อผู้ใช้งานรายอื่น หรือให้เกิดการกระทำผิดกฏหมาย<br>-->
    <!--(ง) ไม่แสดงข้อมูลส่วนตัวหรือเป็นความลับที่เป็นของผู้อื่นโดยไม่ได้รับอนุญาต<br>-->
    <!--(จ) ไม่แสดงเนื้อหาที่เป็นเท็จ ไม่ว่าการแสดงเนื้อหาที่เป็นเท็จนั้นจะก่อให้เกิดความเสียหายต่อผู้อื่นหรือไม่ก็ตาม<br>-->
    <!--(ฉ) ไม่แสดงเนื้อหาที่นำไปสู่การเลือกปฏิบัติต่างเชื้อชาติ ชาติกำเนิด สัญชาติ ศาสนา เพศ สถานภาพทางสังคม ฯลฯ<br>-->
    <!--<h3>ข้อ 10 การปฏิบัติผิดข้อกำหนดของผู้ใช้งาน</h3>-->
    <!--ในกรณีดังต่อไปนี้<br>-->
    <!--(ก) ผู้ใช้งานฝ่าฝืนข้อกำหนดฉบับนี้ คำรับรองของผู้ใช้งานที่ให้ไว้ในข้อกำหนดฉบับนี้ หรือแนวทางปฏิบัติใด ๆ ที่เจ้าของเวปไซต์และแอปพลิเคชั่นได้แจ้งให้ผู้ใช้งานทราบ-->
    <!--ไม่ว่าโดยทั่วไปหรือโดยเฉพาะเจาะจง<br>-->
    <!--(ข) ผู้ใช้งานเวปไซต์และแอปพลิเคชั่น ไปในวัตถุประสงค์ที่ผิดกฏหมาย ขัดต่อความสงบเรียบร้อยของสังคม<br>-->
    <!--(ค) ผู้ใช้งานกระทำการใด ๆ ที่อาจก่อให้เกิดความเสียหายแก่เวปไซต์และแอปพลิเคชั่น เจ้าของเวปไซต์และแอปพลิเคชั่น ผู้ใช้งานรายอื่น ๆ หรือบุคคลภายนอก <br>-->
    <!--(ง) ผู้ใช้งานกระทำการใด ๆ ที่ เจ้าของเวปไซต์และแอปพลิเคชั่นพิจารณาเห็นว่าไม่เหมาะสม<br>-->
    <!--เจ้าของเวปไซต์และแอปพลิเคชั่น โดยดุลพินิจของเจ้าของเวปไซต์และแอปพลิเคชั่นแต่เพียงผู้เดียว อาจดำเนินการดังต่อไปนี้<br>-->
    <!--(ก) ส่งหนังสือเตือนอย่างเป็นทางการให้แก่ผู้ใช้งาน แก้ไขการกระทำ พฤติกรรมดังกล่าว<br>-->
    <!--(ข) ระงับการใช้เวปไซต์และแอปพลิเคชั่นของผู้ใช้งาน ภายในระยะเวลาใดเวลาหนึ่ง โดยจะมีกำหนดระยะเวลาหรือไม่ก็ได้ โดยไม่ต้องแจ้งให้ทราบล่วงหน้า และ<br>-->
    <!--(ค) ยกเลิกสิทธิการใช้หรือการเข้าถึง เว็ปไซต์และแอปพลิเคชั่นของผู้ใช้งาน โดยไม่ต้องแจ้งให้ทราบล่วงหน้า<br>-->
    <!--ในกรณีที่เจ้าของเวปไซต์และแอปพลิเคชั่น ระงับการใช้งานหรือยกเลิกสิทธิการใช้ หรือการเข้าถึงเว็ปไซต์ละแอปพลิเคชั่น ตามข้อกำหนดนี้ ผู้ใช้งานรับทราบและตกลงว่า-->
    <!--เจ้าของเวปไซต์และแอปพลิเคชั่น ไม่มีความรับผิดสำหรับความสูญเสีย ข้อเรียกร้อง ความรับผิด ค่าใช้จ่ายใด ๆ ที่เกินจากหรือเกี่ยวข้องกับการดำเนินการดังกล่าว-->
    <!--ตามข้อกำหนดฉบับนี้<br>-->
    <!--<h3>ข้อ 11 ความพร้อมใช้งานของเว็บไซต์และแอปพลิเคชั่น</h3>-->
    <!--ผู้ใช้งานตกลงและทราบดีว่า เจ้าของเวปไซต์และแอปพลิเคชั่นอาจระงับการใช้งานเว็บไซต์และแอปพลิเคชั่นไม่ว่าทั้งหมดหรือแต่บางส่วน ไม่ว่าจะเป็นการชั่วคราวหรือถาวร-->
    <!--โดยไม่มีหน้าที่ต้องชดเชยความเสียหายใด ๆ ที่อาจเกิดขึ้นแก่ผู้ใช้งาน ในกรณีดังต่อไปนี้<br>-->
    <!--(ก) การบำรุงรักษาเครื่องมือ และอุปกรณ์ที่จำเป็นในการเปิดให้ใช้งานเว็บไซต์และแอปพลิเคชั่น อันรวมถึงแต่ไม่จำกัดเพียง การบำรุงรักษาแม่ข่าย (server maintence)<br>-->
    <!--(ข) การปรับปรุงและรักษาชุดคำสั่งที่เกี่ยวข้องกับการเปิดให้ใช้งาน เว็ปไซต์และแอปพลิเคชั่น อันรวมถึงแต่ไม่จำกัดเพียง การปรับปรุงชุดคำสั่งของระบบ (Firmware Update)<br>-->
    <!--(ค) เครื่องมือ อุปกรณ์ หรือชุดคำสั่งที่เกี่ยวข้องกับการเปิดให้ใช้งานเว็ปไซต์และแอปพลิเคชั่น ไม่สามารถใช้งานได้ อันเนื่องมาจากเครื่องมือ อุปกรณ์-->
    <!--หรือระบบชุดคำสั่งนั้นไม่ว่าเครื่องมือ อุปกรณ์ หรือระบบชุดคำสั่งนั้นะอยู่ในความครอบครองของเจ้าของเว็ปไซต์และแอปพลิเคชั่น หรือบุคคลภายนอกก็ตาม<br>-->
    <!--(ง) เหตุสุดวิสัย อันรวมถึงแต่ไม่จำกัดเพียง ระบบไฟฟ้าขัดข้อง ระบบติดต่อสื่อสารขัดข้อง อุบัติเหตุ อุบัติภัย เพลิงไหม้ภัยธรรมชาติ การนัดหยุดงาน-->
    <!--การบังคับใช้หรือเปลี่ยนแปลงกฏหมาย คำสั่งของรัฐบาล<br>-->
    <!--<h3>ข้อ 12 การรายงานปัญหาและพฤติกรรม</h3>-->
    <!--ผู้ใช้งานอาจรายงานปัญหาใด ๆ จากการใช้งานเว็ปไซต์และแอปพลิเคชั่น อันรวมถึงแต่ไม่จำกัดเพียง ข้อผิดพลาดของเว็ปไซต์และแอปพลิเคชั่น หรือของชุดคำสั่ง-->
    <!--พฤติกรรมของผู้ใช้งานของผู้ใช้งานรายอื่นไม่เป็นไปตามข้อกำหนดนี้ หรือการใช้งานในลักษณะที่อาจก่อให้เกิดความไม่สงบเรียบร้อยขัดต่อศีลธรรมอันดีของประชาชน-->
    <!--การสนับสนุนการใช้ความรุนแรง หรือพฤติกรรมการใช้งานในลักษณะที่ก่อกวนผู้ใช้งานรายอื่น ได้ที่ parneam@gmail.com<br>-->
    <!--<h3>ข้อ 13 การช่วยเหลือ</h3>-->
    <!--ในกรณีที่ผู้ใช้งานมีข้อสงสัย ข้อสอบถาม เกี่ยวกับการใช้งานเว็ปไซต์และแอปพลิเคชั่น ผู้ใช้งานสามารถสอบถามได้ที่ parneam@gmail.com<br>-->
    <!--<h3>ข้อ 14 การยกเว้นความรับผิด</h3>-->
    <!--ผู้ใช้งานตกลงและทราบดีว่า ไม่มีส่วนหนึ่งส่วนใดในข้อกำหนดนี้ หรือภายในเว็ปไซต์และแอปพลิเคชั่น ไม่ว่าโดยชัดแจ้งหรือโดยปริยายที่เจ้าของเว็ปไซต์ จะ<br>-->
    <!--(ก) รับประกัน ความเสถียร ความเชื่อถือได้ ความแม่นยำ ความสมบูรณ์ ประสิทธิผล ความเหมาะสมกับวัตถุประสงค์ โดยเฉพาะเจาะจงของผู้ใช้งาน-->
    <!--ปลอดภัย ข้อผิดพลาดของเว็ปไซต์และแอปพลิเคชั่น<br>-->
    <!--(ข) รับผิดชอบค่าเสียหายใด ๆ ที่เกิดขึ้นกับผู้ใช้งานในการใช้เว็ปไซต์และแอปพลิเคชั่น อันรวมถึงแต่ไม่จำกัดเพียงความเสียหายต่ออุปกรณ์-->
    <!--ระบบที่ผู้ใช้งานใช้ในการใช้งานเว็ปไซต์และแอปพลิเคชั่น หรือการสูญหายข้อมูล หรือเนื้อหาของผู้ใช้งาน สิทธิและชื่อเสียงของผู้ใช้งาน ยกเว้น ความเสียหายดังกล่าว-->
    <!--เกิดจากการกระทำโดยเจตนาหรือการประมาทเลินเล่ออย่างร้ายแรงของเจ้าของเว็ปไซต์และแอปพลิเคชั่น<br>-->
    <!--(ค) ความรับผิดค่าเสียหายใด ๆ ที่เกิดจากการกระทำของผู้ใช้งานเอง ไม่ว่าผู้ใช้งานจะเจตนาหรือไม่ก็ตาม<br>-->
    <!--(ง) รับผิดชอบค่าเสียหายใด ๆ ที่เกิดจากการกระทำของบุคคลภายนอก อันรวมถึงแต่ไม่จำกัดเพียง การกระทำของผู้ไม่ได้รับอนุญาตให้เข้าถึงข้อมูล (Hacker) อาชญากรคอมพิวเตอร์<br>-->
    <!--<h3>ข้อ 15 ทรัพย์สินทางปัญญา</h3>-->
    <!--ผู้ใช้งานเข้าใจและรับทราบดีว่าสิทธิในทรัพย์สินทางปัญญาทั้งปวงอันรวมถึงแต่ไม่จำกัดเพียง เนื้อหาของเจ้าของเวปไซต์และแอปพลิเคชั่น อนุญาตให้ใช้ภายใต้เงื่อนไขแห่งข้อกำหนดนี้เท่านั้น-->
    <!--และไม่ว่า ณ เวลาใด ๆ ไม่มีข้อตกลงใดในข้อกำหนดนี้ไม่ว่าโดยชัดแจ้ง หรือปริยายที่เป็นการโอนสิทธิใด ๆ อันเกี่ยวกับทรัพย์สินทางปัญญาดังกล่าวให้แก่ผู้ใช้งาน ทั้งทางตรงและทางอ้อม<BR>-->
    <!--<h3>ข้อ 16 การเก็บรักษาความลับ</h3>-->
    <!--ในการใช้งานเว็ปไซต์และแอปพลิเคชั่น ผู้ใช้งานอาจได้ล่วงรู้ หรือได้รับข้อมูลจากเจ้าของเว็บไซต์และแอปพลิเคชั่นหรือจากบุคคลอื่นใดเพื่อการใช้งานเว็ปไซต์และแอปพลิเคชั่นตามข้อกำหนดนี้-->
    <!--ซึ่งยังไม่ได้มีการเปิดเผยอย่างสาธารณะหรือไม่มีเจตนาให้ถูกเปิดเผยอย่างทั่วไป ณ ขณะที่เปิดเผยข้อมูล ผู้ใช้งานตกลงที่จะรักษาข้อมูลของเจ้าของเวปไซต์และแอปพลิเคชั่น-->
    <!--หรือข้อมูลของเจ้าของเวปไซต์และแอปพลิเคชั่นไว้เป็นความลับ ไม่ว่าจะเป็นข้อมูลส่วนบุคคลหรือข้อมูลทางการค้าและไม่ว่าจะมีมูลค่าหรือไม่ก็ตาม และจะไม่เปิดเผย ตีพิมพ์-->
    <!--ประกาศ หรือเผยแพร่ต่อบุคคลที่สามเว้นแต่จะเป็นการกระทำตามกฏหมาย คำสั่งของหน่วยงานที่บังคับใช้อำนาจของรัฐ หรือได้รับความยินยอมเป็นลายลักษณ์อักษร-->
    <!--จากเจ้าของเว็ปไซต์และแอปพลิเคชั่นก่อนล่วงหน้า<br>-->
    <!--<h3>ข้อ 17 การแก้ไขเปลี่ยนแปลง</h3>-->
    <!--เจ้าของเว็ปไซต์และแอปพลิเคชั่นอาจแก้ไขและเปลี่ยนแปลงข้อความในข้อกำหนดนี้ได้ ไม่ว่าเวลาใดก็ตามและไม่ว่าทั้งหมดหรือบางส่วน โดยเจ้าของเวปไซต์และแอปพลิเคชั่นจะแจ้งให้-->
    <!--ผู้ใช้งานทราบเมื่อมีการเปลี่ยนแปลงในแต่ละครั้งคราว และให้ถือว่าข้อตกลงที่แก้ไขเพิ่มเติมดังกล่าวเป็นส่วนหนึ่งของข้อกำหนดนี้ด้วย<br>-->
    <!--<h3>ข้อ 18 ความสัมพันธ์ของคู่ค้า</h3>-->
    <!--โดยที่คู่สัญยาทั้งสองฝ่ายเข้าใจและทราบดีว่า การเข้าทำข้อกำหนดฉบับนี้ไม่ทำให้คู่สัญญา และพนักงานของคู้สัญญา แต่ละฝ่ายมีความสัมพันธ์ในฐานะลูกจ้าง ตามกฏหมายแรงงาน-->
    <!--หรือเป็นหุ้นส่วนกัน ตามกฏหมายหุ้นส่วนและบริษัทแต่อย่างใด<br>-->
    <!--<h3>ข้อ 19 การโอนสิทธิ</h3>-->
    <!--เว้นแต่จะได้กำหนดเป็นอย่างอื่นในข้อกำหนดนี้ ผู้ใช้งานตกลงจะไม่โอนสิทธิ หน้าที่ และ/หรือความรับผิดชอบตามข้อกำหนดนี้ให้แก่บุคคลใดโดยมิได้รับความยินยอมเป็นลายลักษณ์อักษร-->
    <!--จากเจ้าของเว็บไซต์และแอปพลิเคชั่น เป็นการล่วงหน้า<br>-->
    <!--<h3>ข้อ 20 การสละสิทธิ</h3>-->
    <!--การที่เจ้าของเวปไซต์และแอปพลิเคชั่นไม่ใช้สิทธิหรือใช้สิทธิล่าช้าในเรื่องหนึ่งเรื่องใดหรือคราวหนึ่งคราวใดก็ดี มิให้ถือว่าเจ้าของเว็ปไซต์และแอปพลิเคชั่นสละสิทธิในเรื่องดังกล่าว-->
    <!--และการที่เจ้าของเวปไซต์และแอปพลิเคชั่นใข้สิทธิแต่เพียงบางส่วนหรือสละสิทธิในเรื่องหนึ่งเรื่องใดหรือคราวหนึ่งคราวใด ก็มิให้ถือว่าเป็นการสละสิทธิในเรื่องอื่นหรือในคราวอื่นด้วย<br>-->
    <!--<h3>ข้อ 21 การบอกกล่าว</h3>-->
    <!--ผู้ใช้งานตกลงให้คำบอกกล่าวหรือหนังสือซึ่งเจ้าของเวปไซต์และแอปพลิเคชั่นต้องแจ้งให้แก่ตนภายใต้ข้อกำหนดนี้จะถือได้ว่ามีการแจ้งแก่กันแล้ว หากว่าได้มีการส่งไปยังผู้ใช้งาน-->
    <!--ตามที่ระบุไว้ในข้อกำหนดนี้ โดยวิธีทางจดหมายอีเล็คทรอนิค<br>-->
    <!--<h3>ข้อ 22 กฏหมายที่บังคับใช้</h3>-->
    <!--ข้อกำหนดฉบับนี้ให้อยู่ภายใต้บังคับกฏหมายองประเทศไทย<br>-->
    <!--<h3>ข้อ 23 การระงับข้อพิพาท</h3>-->
    <!--หากมีข้อโต้เถียง ข้อขัดแย้งใด ๆ เกิดขึ้นอันเนื่องมาจากข้อกำหนดฉบับนี้ หากคู่สัญญาไม่สามารถตกลงกันได้ คู่สัญญาตกลงจะนำข้อพิพาทังกล่าวขึ้นฟ้องต่อศาลในประเทศไทย<br>-->

  <!--</div>-->
  <!--<button mat-button (click)="closeDialog()">ปิด</button>-->
<!--</div>-->

<h1 mat-dialog-title>Hi </h1>
<div mat-dialog-content>
  <p>What's your favorite animal?</p>
  <!--<mat-form-field>-->
    <!--<input matInput [(ngModel)]="data.animal">-->
  <!--</mat-form-field>-->
</div>
<div mat-dialog-actions>
  <!--<button mat-button (click)="onNoClick()">No Thanks</button>-->
  <!--<button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>-->
</div>
