<br>
<div class="container">
  <h2>ร้านค้าทั้งหมด</h2>
  <p>แสดงร้านค้าที่จัดการได้</p>
  <table class="table table-hover table-striped">
    <thead>
    <tr>
      <th>ชื่อร้าน</th>
      <th>ประเภท</th>
      <th>ที่อยู่</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>John</td>
      <td>Doe</td>
      <td>john@example.com</td>
    </tr>
    <tr>
      <td>Mary</td>
      <td>Moe</td>
      <td>mary@example.com</td>
    </tr>
    <tr>
      <td>July</td>
      <td>Dooley</td>
      <td>july@example.com</td>
    </tr>
    </tbody>
  </table>
</div>
